@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .borderr {
        border: 1px solid #FFAB18;
    }
    section .iconn {
        overflow: hidden;
    }
    .garage {
        @apply -mt-96;
    }
    .card .card-shadow {
        @apply transition duration-300 shadow-none;
    }
     html {
        scroll-behavior: smooth;
    }

    /* breadcrumb */
    ul.breadcrumb {
        @apply flex flex-row items-center text-lg;
    }

    ul.breadcrumb li:not(:last-child):after {
        content: "/";
        @apply px-4;
    }

    ul.breadcrumb li:not(:last-child) a {
        @apply font-light;
    }

    ul.breadcrumb li:last-child a {
        @apply font-semibold;
    }

    /* slider */

    .slider {
        @apply flex my-4 flex-col;
    }

    .slider .thumbnail {
        @apply w-screen order-last -mx-2 overflow-auto flex pl-4;
    }

    .slider .thumbnail .item {
        @apply bg-gray-100 relative rounded-lg mb-4 cursor-pointer;
        width: 106px; height:106px;
    }

    .slider .thumbnail .item:after {
        content: "";
        @apply transition duration-200 absolute inset-0 bg-black bg-opacity-0 border-black border-opacity-0 rounded-lg;
    }

    .slider .thumbnail .item.selected:after{
        @apply bg-opacity-30 border-opacity-100;
    }

    .slider .preview {
        @apply mb-4 px-4; height:320px;
    }

}

@screen md {
    .slider {
        @apply flex-row;
    }

    .slider .thumbnail {
        @apply w-auto order-first block overflow-visible pl-0
    }

    .slider .preview {
        height:609px;
        width:560px;
    }
   
}

@layer utilities {
    .stretched-link {
        @apply absolute inset-0 z-10 cursor-pointer;
    }
}

button[disabled] {
    @apply bg-gray-300 hover:bg-gray-300 text-gray-400 hover:text-gray-400 
    cursor-not-allowed;
}